.mouse {
  scale: 0.6;
  width: 30px;
  height: 62px;
  border: 2px solid white;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 43px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 43px;
  }
}
